{{thing-details/card content=content toggleDone='toggleDone'}}
{{back-button back='back'}}
<p>
  <strong>Notes:</strong>
  {{thing-details/done-button content=content toggleDone='toggleDone'}}
</p>
<ul>
{{#each content.note_list as |note|}}
  <li>
    {{note}}
  </li>
{{/each}}
</ul>
{{thing-details/add-notes content=content createNote='createNote'}}
