{{thing-details/card content=content toggleDone='toggleDone'}}
<p class ="subheader">In Category: {{content.category.name}} </p>

<div class="note-box">
  <p class="note-header">
    Notes:
  </p>
  <ul>
  {{#each content.note_list as |note|}}
    <li>
      - {{note}}
    </li>
  {{/each}}
  <li>
    {{thing-details/add-notes content=content createNote='createNote'}}
  </li>
  </ul>
  <div class="bottom-button-box clearfix">
    {{thing-details/done-button content=content toggleDone='toggleDone'}}
    <button class="btn btn-warning" style="display: inline-block; float: right;" {{action 'deleteContent'}}>
      Forget about it!
    </button>
  </div>

</div>

<div style="width: 50%; text-align: center; margin: 20px auto;">
  {{back-button back='back'}}
</div>
