<span {{action 'toggleDone'}}>
  {{#if thing.content_data.done}}
    <span class='item-completed'>{{thing.name}}</span>
  {{else}}
    {{thing.name}}
  {{/if}}
</span>

<button class="btn btn-danger" {{action 'deleteThing'}}>
  delete
</button>
<button class="btn btn-primary" {{action 'showDetails'}}>More</button>
